<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="defaultDir" value="C:\Users\ale\Desktop\BSI\ImportacaoExcel"/>
    </appSettings>
    <connectionStrings>
      <add name="accessConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=local"/>
    </connectionStrings>
</configuration>